html {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    text-align: center;
}

.true {
    color: #00ff00;
}

.true:before {
    content: '[';
    color: #ffffff;
}

.true:after {
    content: ']';
    color: #ffffff;
}

 .false {
    color: #ff0000;
}

.false:before {
    content: '[';
    color: #ffffff;
}

.false:after {
    content: ']';
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

.status {
    display: inline-block;
    margin: 0 10px;
}
